spring:
  datasource:
    url: jdbc:mysql://community-database.c7ke6yi8mzis.ap-northeast-2.rds.amazonaws.com:3306/community?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: admin
    password: eunseo1018!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  profiles:
    active: dev

frontend:
  base-url: http://54.180.48.31:3000