spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/community?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: eunseo1018@
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    property-naming-strategy: SNAKE_CASE

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  profiles:
    active: dev

logging:
  level:
    org.hibernate.SQL: debug